<%- include("partials/header.ejs") %>
<%- include("partials/nav-bar.ejs") %>

  <!-- Posts Section -->
  <section class="w-full md:w-2/3 flex flex-col items-center px-3">

  <% if (searchResults.length <= 0) { %>
    <div class="no-blogs-msg">No Blogs to show. Share your blog anonymously.</div>
  <% } else { %>
  <% searchResults.forEach(blog => { %>

  <article class="w-full flex flex-col rounded-lg shadow-lg bg-gray-100 shadow p-4 my-4">
      <!-- Article Image -->
      <a href="/blog/<%= blog.id %>" class="hover:opacity-75">
          <img src="<%= blog.image %>" alt="<%= blog.title %>" class="rounded-lg w-full">
      </a>
      <div class=" flex flex-col justify-start p-6">
          <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4"><%= blog.category %></a>
          <!-- <% if (blog.tags && blog.tags.length > 0) { %>
            <span><%= blog.tags.join(', ') %></span>
          <% } %> -->
          <p href="#" class="text-sm pb-3">
            By <a href="/profile/<%= blog.author %>" class="font-semibold hover:pointer hover:text-gray-800"><%= blog.author %></a>, Published on <%= new Date(blog.createdAt).toLocaleDateString() %>
          </p>
          <a href="/blog/<%= blog.id %>" class="text-3xl font-bold hover:text-gray-700 pb-4"><%= blog.title %></a>
          <a href="#" class="pb-6"><%= blog.content %></a>
          <a href="/blog/<%= blog.id %>" class="uppercase text-blue-900 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a>
          <div class="blog-likes d-flex">
            <form action="/blog/<%= blog.id %>/like" method="post">
              <button type="submit" name="likesBtn" value="<%= blog._id %>" class="bg-transparent border-0 text-white">
                <i class="fas fa-heart"></i>
              </button>
            </form>
            <span><%= blog.likes %></span>
          </div>
      </div>
  </article>
  <% }); %>
  <% } %>
  <!-- Pagination -->
  <!-- <div class="flex items-center py-8">
      <a href="#" class="h-10 w-10 bg-blue-800 hover:bg-blue-600 font-semibold text-white text-sm flex items-center justify-center">1</a>
      <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:bg-blue-600 hover:text-white text-sm flex items-center justify-center">2</a>
      <a href="#" class="h-10 w-10 font-semibold text-gray-800 hover:text-gray-900 text-sm flex items-center justify-center ml-3">Next <i class="fas fa-arrow-right ml-2"></i></a>
  </div> -->

</section>

<!-- Sidebar Section -->
<aside class="w-full md:w-1/3 flex flex-col items-center px-3">

  <div class="w-full bg-gray-100 rounded-lg shadow-lg flex flex-col my-4 p-6">
      <p class="text-xl font-semibold pb-5">About Us</p>
      <p class="pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis est eu odio sagittis tristique. Vestibulum ut finibus leo. In hac habitasse platea dictumst.</p>
      <a href="#" class="w-full bg-blue-800 rounded-lg text-white font-bold text-sm uppercase hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
          Get to know us
      </a>
  </div>

  <div class="w-full bg-white shadow flex flex-col my-4 p-6">
      <p class="text-xl font-semibold pb-5">publications</p>
      <img class="hover:opacity-75" src="./img/pub.png">
      <img class="hover:opacity-75" src="./img/pub.png">
      <img class="hover:opacity-75" src="./img/pub.png">
      <img class="hover:opacity-75" src="./img/pub.png">
      <a href="#" class="w-full bg-blue-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-6">
           Visit <i class="fas fa-arrow-right"></i>
      </a>
  </div>

</aside>

  
  <%- include("partials/footer.ejs") %>
